.giant {
    font-size: 7.5vw;
    line-height: 7.5vw;
    letter-spacing: normal;
}

.link {
    margin-bottom: 0.3vw !important;
}

.bottom_row {
    height: 15vh;
}

.project_title {
    padding-top: 0.5vw !important;
    opacity: 1;
    font-weight: 700 !important;
    font-size: 2.7vw !important;
    line-height: 2.7vw !important;
    padding-bottom: 0.5vw !important;
}

.project_year {
    padding-top: 0.5vw !important;
}

.deco_title {
    font-weight: 700 !important;
    font-size: 2.7vw !important;
    line-height: 2.7vw !important;
}

.footer_email {
    text-decoration: underline;
}