.project_title {
    opacity: 1;
    font-weight: 700 !important;
    font-size: 2.7vw !important;
    line-height: 2.7vw !important;
    height: 15vh;
}

.desc {
    text-transform: none;
    height: 15vh;
}

.redirect {
    padding-top: 1vw !important;
}

@media only screen and (max-width: 600px) {
    .project_title {
        padding-top: 2vw !important;
        font-size: 5vw !important;
        line-height: 5.2vw !important;
        height: 15vh;
    }

    .desc {
        text-transform: none;
        height: 40vh;
        font-size: 4vw !important;
        line-height: 4.5vw !important;
    }

    .vh-s {
        height: 15vh !important;
    }
}